.detail-con {
  width: 65%;
  padding: 0 25px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 85vh;
}

.detail-box {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.detail-box .overview {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .detail-con {
    display: none;
  }
}
