.search-box {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  padding-bottom: 6px;
  margin: 0 15px;
  width: 35%;
  text-align: center;
  background-color: var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid var(--secondary-color);
  outline: none;
  color: var(--secondary-color);
}

.search-input::placeholder {
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .search-box {
    height: 70px;
  }
  .search-input {
    width: 100%;
  }
}
