.nav-container {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
}
.search-box {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  padding: 5px 0;
  width: 400px;
  text-align: center;
  /* border-radius: 25px; */
  background-color: var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid var(--secondary-color);
  outline: none;
  color: var(--secondary-color);
}

.search-input::placeholder {
  color: var(--secondary-color);
}
.search-btn {
  padding: 12px 25px;
  margin: 0px 25px;
  border-radius: 25px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
